@model SupMusic.Models.ModifyPlaylistModel

@{
    ViewData["Title"] = "Discover";
    List<Song> songs = ViewBag.songs;
    List<Playlist> userPlaylists = ViewBag.userPlaylists;
    List<Playlist> pubPlaylists = ViewBag.pubPlaylists;

    string[] parseTags(string tags)
    {
        return tags.Split(',');
    }

    String userID = ViewBag.userID;
}
<br>
<h2 class="text-info">Discover new songs !</h2>
@foreach (var song in songs)
{
    <div class="blueCard">
        <h4 class="text-info">@song.Name</h4>
        @if (song.Tags != null)
        {
            @foreach (var tag in parseTags(song.Tags))
            {
                <span class="badge badge-pill badge-warning">@tag</span>
            }
        }
        @Html.Partial("_Player", song)
        @foreach (var playlist in userPlaylists)
        {
            @if (!playlist.Songs.Contains(song.ID.ToString()))
            {
                <form asp-action="AddSongToPlaylist" method="post">
                    <input type="hidden" asp-for="PlaylistId" value="@playlist.ID"/>
                    <input type="hidden" asp-for="SongId" value="@song.ID"/>
                    <input type="submit" runat="server" onserverclick="AddSongToPlaylist" value="Add to '@playlist.Name' playlist" class="btn btn-outline-info"/>
                </form>
            }
        }
    </div>
}
<br>
<h2 class="text-info">Discover new playlists !</h2>
@foreach (var playlist in pubPlaylists)
{
    <div class="blueCard">
        <H2 class="text-info">@playlist.Name</H2>
        @if (playlist.Tags != null)
        {
            @foreach (var tag in playlist.Tags.Split(','))
            {
                <span class="badge badge-pill badge-warning">@tag</span>
            }
        }
        <br>
        <button onClick="location.href = '/Home/PlaylistPlayer?PlaylistId=@playlist.ID&index=0'"class="btn btn-primary">Listen</button>
    </div>
}

<style>
    form{
        margin-top: 5px;
    }
</style>