@model SupMusic.Models.AddPlaylistModel

@{
    ViewData["Title"] = "Discover";
    List<Song> songs = ViewBag.songs;
    List<Playlist> playlists = ViewBag.playlists;
    string[] parseTags(string tags)
    {
        return tags.Split(',');
    }
    String userID = ViewBag.userID;
}

List of all songs we have on the site , can listen to them & add to playlist


@foreach (var song in songs)
{
    <ul>
        <div>@song.Name

            @foreach (var playlist in playlists)
            {
                @if(!playlist.Songs.Contains(song.ID.ToString())){
                <form asp-action="AddSongToPlaylist" method="post">
                     <input type="hidden" asp-for="PlaylistId" value="@playlist.ID" />
                     <input type="hidden" asp-for="UserId" value="@userID" />
                     <input type="hidden" asp-for="SongId" value="@song.ID" />
                <input type="submit" runat="server" onserverclick="AddSongToPlaylist" value="Add to @playlist.Name" class="btn btn-outline-Info"/>
                </form>
                }
            }
        </div>
        @if(song.Tags != null){
        @foreach (var tag in parseTags(song.Tags))
        {
            <div>@tag</div>
        }
        }
        @Html.Partial("_Player", song)
    </ul>
}