@model SupMusic.Models.ModifyPlaylistModel

@{
    ViewData["Title"] = "Discover";
    List<Song> songs = ViewBag.songs;
    List<Playlist> playlists = ViewBag.playlists;
    string[] parseTags(string tags)
    {
        return tags.Split(',');
    }
    String userID = ViewBag.userID;
}

@foreach (var song in songs)
{
    <ul>
        <h4 class="text-info">@song.Name</h4>
        @if(song.Tags != null){
        @foreach (var tag in parseTags(song.Tags))
        {
            <span class="badge badge-pill badge-warning">@tag</span>
        }
        }
        @Html.Partial("_Player", song)
         @foreach (var playlist in playlists)
            {
                @if(!playlist.Songs.Contains(song.ID.ToString())){
                <form asp-action="AddSongToPlaylist" method="post">
                     <input type="hidden" asp-for="PlaylistId" value="@playlist.ID" />
                     <input type="hidden" asp-for="SongId" value="@song.ID" />
                <input type="submit" runat="server" onserverclick="AddSongToPlaylist" value="Add to '@playlist.Name' playlist" class="btn btn-outline-info"/>
                </form>
                }
            }
    </ul>
}

<style>
    form{
        margin-top: 5px;
    }
</style>