@{
    List<Song> songList = ViewBag.songList;
    int songIndex = ViewBag.index;
    Playlist playlist = ViewBag.playlist;
    var PlayerId = "waveform";
    ViewData["Title"] = ViewBag.songList[songIndex].Name;
}

<div class="blueCard">
<h2 class="text-info">@songList[songIndex].Name</h2>
<div id=@PlayerId></div>
<div class="player_buttons">
<button onclick="previousSong()" class="btn btn-secondary">previous</button>
<button id="@PlayerId-mute" class="btn btn-warning">mute</button>
<button id="@PlayerId-play" class="btn btn-primary">play/pause</button>
<input id="@PlayerId-volume" type="range" min="0.05" max="1" step="0.05" class="btn btn-info">
<button onclick="nextSong()" class="btn btn-secondary">next</button>
@if (@ViewBag.userID == @playlist.OwnerID)
{
    <button id="@PlayerId-delete" class="btn btn-danger">Remove from playlist</button>
}
</div>
</div>
<div class="listOfSongs">
<h4 class="text-primary">Playlist "@playlist.Name" contains these tracks :</h4>
<ol>
    @for (int i = 0; i < songList.Count; i++)
    {
        Song song = songList[i];
                @if(song.ID == songList[songIndex].ID){
            <li class="text-success">@song.Name</li>
        }
        else{
        <li class="text-primary text-large">@song.Name <button class="btn btn-info" onclick="location.href = '/Home/PlaylistPlayer?PlaylistId=@playlist.ID&index=@i'">play</button></li>
        }
    }

</ol>
</div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function nextSong() {
        var nextSongIndex = @songIndex + 1;
        if (nextSongIndex < @songList.Count) {
            location.href = "/Home/PlaylistPlayer?PlaylistId=@playlist.ID&index=" + nextSongIndex
        }
    }
    function previousSong() {
        var previousSongIndex = @songIndex - 1;
        if (previousSongIndex >= 0) {
            location.href = "/Home/PlaylistPlayer?PlaylistId=@playlist.ID&index=" + previousSongIndex
        }
    }
    function changeVolume(e) {
        SongVolume = e.target.value
        wavesurfer.setVolume(SongVolume);
        localStorage.setItem("SongVolume", SongVolume)
    }


    const wavesurfer = new WaveSurfer.create({
        container: "#@PlayerId",
         waveColor: '#1b6ec2',
        progressColor: '#95a5a6',
        barWidth: 5,
        barMinHeight: 1
    });

    $("#@PlayerId-play").click(() => wavesurfer.playPause());
    $("#@PlayerId-mute").click(() => wavesurfer.toggleMute());
    $("#@PlayerId-delete").click(() => location.href = "/Home/RemoveSongToPlaylist?PlaylistId=@playlist.ID&SongId=@songList[songIndex].ID");

    let SongVolume = localStorage.getItem("SongVolume");
    if (SongVolume) {
        wavesurfer.setVolume(SongVolume)
    }
    else {
        SongVolume = 0.5
        wavesurfer.setVolume(SongVolume);
        localStorage.setItem("SongVolume", SongVolume)
    }
    $('#@PlayerId-volume').val(SongVolume);
    $('#@PlayerId-volume').change(changeVolume)
    wavesurfer.load("@songList[songIndex].Path");
</script>


<style>
    .listOfSongs {
        margin-top: 20px;
    }
    .listOfSongs ol li{
        font-size: 1.5rem;
    }
    .player_buttons {
        display: flex;
        justify-content: center;
    }
</style>